
    h1 {
      font-size: 30px;
      margin: 0px;
    }

    .Tahoma {
      font-family: Tahoma;
    }

    .Biggest-deals {
      font-family: arial;
      font-weight: bold;
      margin-top: 30px;
    }

    .Sales-end {
      font-family: arial;
      color: red;
      font-style: italic;
      margin-top: 8px;
    }

    .Exercise3 {
      font-family: Verdana;
    }

    .Html {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .Beginner {
      margin-top: 0px;
      margin-bottom: 0px;
      color: rgb(163, 163, 163);
    }

    .In-this {
      width: 300px;
    }

    .Get-started {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: rgb(39, 136, 39);
      color: white;   
      font-family: verdana;
      border: none;
      border-radius: 5px;
    }

    .Exercise4 {
      font-family: arial;
      text-align: center;
    }

    .Shopping {
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 0px;
    }

    .See-how {
      margin-bottom: 0px;
      margin-top: 18px;
    }

    .Learn-more{
      color: rgb(0, 128, 198);
    }

    .Five-Exercise {
      font-family: Arial;
    }

    .E {
      text-align: center;
    }

    .New {
      color: red;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .Macbook {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .Supercharged {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 4px;
    }

    .From {
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .Buy {
      margin-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      background-color: rgb(40, 104, 255);
      border: none;
      color: white;
      border-radius: 20px;
    }

    .Number {
      font-size: 30px;
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .USD {
      font-size: 18px;
      margin-left: 5px;
      color: gray;
    }

    .Green {
      font-size: 18px;
      color: green;
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .After {
      font-size: 18px;
      color: gray;
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .Red {
      color: red;
    }

    .Username {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 30px;
    }

    .Grey {
      font-weight: 100;
      color: gray;
    }

    .Tweet {
      width: 500px;
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .Tweeet {
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .Blue {
      color: rgb(36, 124, 255);
    }

